.dimensioneNavbar{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -14px 11px 2px -9px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -14px 11px 2px -9px rgba(0,0,0,0);
}

.link{
    color: black;
    font-size: large;
}

.link:hover{
    color: #94D7DF;
}

.sfondo{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.3)), url(/public/img/sfondo-denti.jpg);
    
}

.text-brand{
    font-size: 3rem;
}


.button-19 {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 15rem;
  }
  
  .button-19:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .button-19:main,
  .button-19:focus {
    user-select: auto;
  }
  
  .button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .button-19:disabled {
    cursor: auto;
  }

.metà-1{
    width: 30%;
}

.metà-2{
    width: 70%;
}

.margine-link{
    margin-left: 60px;
    margin-right: 50px;
}

.flip-card{
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}

.flip-card-front img{
    width: 220px;
    margin-top: 1rem;
}

.flip-card-back{
    background-image: linear-gradient(315deg, #ffffff, #1CB0F6);
    color: #FFFFFF;
    transform: rotateY(180deg);
}

.flip-card-back img{
    width: 130px;
    margin-top: 1rem;
}

.sfondo-2{
    width: 100%;
    height: 57vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.3)), url(/public/img/sfondo-denti.jpg);
    
}

.gallery{
    height: 38vh;
    position: relative;
}

.gallery img{
    min-width: 0;
    flex: 1 1 10px;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s;
}

.gallery img:hover{
    opacity: 1;
}

.posizione{
    position: absolute;
    opacity: 0.7;
    transition: 0.5s;
}

.posizione-2{
    position: absolute;
    margin-top: 5rem;
    opacity: 0.8;
    transition: 0.5s;
}

.button-18 {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin-top: 199px;
    margin-left: -13rem;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 13rem;
    opacity: 0.8;
  }
  
  .button-18:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .button-18:main,
  .button-18:focus {
    user-select: auto;
  }
  
  .button-18:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .button-18:disabled {
    cursor: auto;
  }

.sfondo-3{
    width: 100%;
    height: 170vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.3)), url(/public/img/sfondo-denti.jpg);
    
}




















@media only screen and (max-width: 600px) {

    .button-19{
        margin-left: 46px;
    }

    .button-18{
        margin-left: -21rem;
    }

    .sfondo-2{
        height: 181vh;
    }

    .sfondo-3{
        height: 195vh;
    }

    .gallery{
        height: 45vh;
    }

    .posizione-2{
        margin-top: 2.5rem;
    }
}

@media only screen and (max-width: 768px) {

    .margine-link{
        margin-left: 0px;
        margin-right: 0px;
    }
}
